@import "../../common/styles/base";

.select-menu__text{
    display: inline-block;
}

.submit-mark__title-h2 {
    text-align: center;
}

.marks-table {
    display: table;         
    width: auto;         
    background-color: $marks-table-border-color;         
    border: 1px solid $marks-table-background-color;         
    border-spacing: 5px; /* cellspacing:poor IE support for  this */
  }
  .marks-table__head-row, .marks-table__row {
    display: table-row;
    width: auto;
    clear: both;
  }
  .marks-table__cell {
    float: left; /* fix for  buggy browsers */
    display: table-column;         
    width: 200px;         
    background-color: $cell-background-color;  
  }