@import "../../common/styles/base";

.select-menu {
    &__text{
        display: inline-block;
    }

    &__title-h2 {
        text-align: center;
    }
}

.marks-table {
    display: table;         
    width: auto;         
    background-color: $marks-table-border-color;         
    border: 1px solid $marks-table-background-color;         
    border-spacing: 5px;
    
    &__head-row {
        display: table-row;
        width: auto;
        clear: both;
    }

    &__row {
        display: table-row;
        width: auto;
        clear: both;
    }

    &__cell {
        float: left;
        display: inline-table;      
        margin: 1px; 
        background-color: $cell-background-color;  
       
        &_size {
            &_small {
                width: $table-small-width;
            }
    
            &_medium {
                width: $table-medium-width;
            }
        }

        &_text-align {
            &_center {
                text-align: center;
            }
    
            &_right {
                text-align: right;
            }
        }
    }
}
