@import "../../common/styles/base";

.marks-table {
    display: table;
    width: auto;

    &__head-row {
        display: table-row;
        width: max-content;
        clear: both;
        font-weight: bold;
    }

    &__row {
        display: table-row;
        width: auto;
        clear: both;
        margin-top: 3px;
    }

    &__cell {
        display: table-column;
        border: 1px solid $border-color;
        float: left;
        padding: 3px;
        margin: inherit;
        margin-left: 3px;

        &_size {
            &_small {
                width: $table-small-width;
            }

            &_medium {
                width: $table-medium-width;
            }
        }
    }
}
