@import "../../common/styles/base";

.marks-table {
    display: table;         
    width: auto;  
    
    &__head-row {
        font-weight: bold;
        display: table-row;
        width: max-content;
        clear: both; 
    }

    &__row {
        display: table-row;
        width: auto;
        clear: both;
        margin-top: 3px;
    }

    &__cell {
        float: left;
        display: table-column;      
        border: 1px solid $border-color;
        padding: 3px;
        margin: inherit;
        margin-left: 3px;
    
        &_size {
            &_small {
                width: $table-small-width;
            }
    
            &_medium{
                width: $table-medium-width;
            }
        }
    
        &_text-align {
            &_center {
                text-align: center;
            }
    
            &_right {
                text-align: right;
            }
        }
    }
}