<div class="schedule">

    <h2 class="schedule__title-h2">{{title}}</h2>

    <div class="schedule-class-menu">
        <p class="schedule-class-menu__text">Выберите класс</p>
        <select class="schedule-class-menu__select" [(ngModel)]="selectedGradeId" (ngModelChange)="getSchedule()">
            <ng-container *ngFor="let grade of grades">
                <option class="schedule-class-menu__option" [value]="grade.gradeId">{{grade.number}}</option>
            </ng-container>
        </select>
    </div>

    <div class="schedule-table">
        <ng-container *ngFor="let schedule of schedules">
            <h3 class="schedule-table__title-h3">{{schedule.day.dayName}}</h3>
            <div class="schedule-table__head-row">
                <div class="schedule-table__cell">Урок</div>
                <div class="schedule-table__cell">Начало</div>
                <div class="schedule-table__cell">Конец</div>
                <div class="schedule-table__cell">Предмет</div>
                <div class="schedule-table__cell">Учитель</div>
                <div class="schedule-table__cell">Кабинет</div>
            </div>
            <div class="schedule-table__row" *ngFor="let row of schedule.rows">
                <div class="schedule-table__cell">{{row.lesson.lessonId}}</div>
                <div class="schedule-table__cell">{{row.lesson.startTime}}</div>
                <div class="schedule-table__cell">{{row.lesson.endTime}}</div>
                <div class="schedule-table__cell">{{row.subject.name}}</div>
                <div class="schedule-table__cell">{{row.teacher.name.secondName}} {{row.teacher.name.firstName}} {{row.teacher.name.lastName}}</div>
                <div class="schedule-table__cell">{{row.subject.room}}</div>
            </div>
        </ng-container>
    </div>
</div>