@import "../../common/styles/base";

.schedule-table__title-h3, .schedule-table__title-h3 {
    text-align: center;
}

.schedule-table {
    display: table;         
    width: auto;   
  }

.schedule-table__head-row {
    font-weight: bold;
    display: table-row;
    width: auto;
    clear: both;
}
  
.schedule-table__row {
    display: table-row;
    width: auto;
    clear: both;
}

.schedule-table__cell {
    float: left;
    display: table-column;         
    width: 100px;         
    border-top: 1px solid $border-color;
    margin-bottom: 2%;
}