@import "../../common/styles/base";

.schedule-table__title-h3, .schedule-table__title-h3 {
    text-align: center;
}

.schedule-table {
    display: table;
    width: auto;

    &__head-row {
        display: table-row;
        width: auto;
        clear: both;
        font-weight: bold;
    }

    &__row {
        display: table-row;
        width: auto;
        clear: both;
    }

    &__cell {
        display: table-column;
        float: left;
        padding: 3px;
        border: 1px solid $border-color;
        margin-bottom: 3px;

        &_size {
            &_small {
                width: 50px;
            }

            &_medium {
                width: 120px;
            }

            &_long {
                width: 200px;
            }
        }
    }
}
