// Colors
// ------------------

$border-color: #999;


// Tables
// ------------------

$table-subject-width: 150px;
$table-lesson-width: 20px;
$table-time-width: 50px;
$table-teacher-width: 200px;
$table-room-width: 20px;

