// Colors
// ------------------

$border-color: #999;
$cell-background-color: #ccc;

$marks-table-background-color: #666666;
$marks-table-border-color: #eee;





// Tables
// ------------------

$table-subject-width: 150px;
$table-lesson-width: 20px;
$table-time-width: 50px;
$table-teacher-width: 200px;
$table-room-width: 20px;

$table-small-width: 20px;
$table-medium-width: 120px;
$table-long-width: 200px;


