@import "../../common/styles/base";

.select-menu {
    &__select {
    margin-left: 10px;
    margin-right: 10px;
    }

    &__text {
        display: inline-block;
    }

    &__title-h2 {
        text-align: center;
    }
}
