<div class="submit-mark">

    <h2 class="submit-mark__title-h2">{{title}}</h2>

    <div class="submit-mark-menu">
        <div class="select-menu">
            <p class="select-menu__text">Выберите класс</p>
            <select class="select-menu__select" [(ngModel)]="selectedGrade" (ngModelChange)="getStudentsAndSubjects()">
                <ng-container *ngFor="let grade of grades">
                    <option class="select-menu__item" [ngValue]="grade">{{grade.number}}</option>
                </ng-container>
            </select>
        </div>

        <div class="select-menu">
            <p class="select-menu__text">Выберите ученика</p>
            <select class="select-menu__select" [(ngModel)]="selectedStudent" (ngModelChange)="getStudentMarks()">
                <ng-container *ngFor="let student of students">
                    <option class="select-menu__item" [ngValue]="student">
                        {{student.name.secondName}} {{student.name.firstName}} {{student.name.lastName}}
                    </option>
                </ng-container>
            </select>
        </div>

        <div class="select-menu">
            <p class="select-menu__text">Выберите предмет</p>
            <select class="select-menu__select" [(ngModel)]="selectedSubject" (ngModelChange)="getStudentMarks()">
                <ng-container *ngFor="let subject of subjects">
                    <option class="select-menu__item" [ngValue]="subject">{{subject.name}}</option>
                </ng-container>
            </select>
        </div>
    </div>

    <app-mark-edit [selectedStudent]="selectedStudent" [selectedSubject]="selectedSubject"></app-mark-edit>
</div>
