@import "../../common/styles/base";

.select-menu__select {
    margin-left: 10px;
    margin-right: 10px;
}

.select-menu__text {
    display: inline-block;
}

.student-list__title-h2 {
    text-align: center;
}